@-webkit-keyframes slide-in-first {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in-first {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  color: black;
}

.menu-card {
  font-family: "Roboto", sans-serif;
}

.menu-card__recipe {
  font-size: 18px;
  font-weight: 500;
}

.menu-card-details {
  font-size: 15px;
  font-weight: 300;
}

.menu-card-price {
  font-size: 15px;
  font-weight: 500;
}

header .header-menu i {
  font-size: 19px;
  color: #282828;
}

.main__title {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.main__header h2 {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
}

.main__header i {
  font-size: 23px;
}

.linear-gradient-btn {
  font-family: "Roboto", sans-serif;
  background: #9356dc;
  background: linear-gradient(358deg, #9356dc 3%, #ff79da 90%);
  color: white;
  border-radius: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.linear-gradient-btn:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

.commander {
  padding: 14px 40px;
}

.explorer {
  padding: 17px 20px;
}

.menu-card {
  height: 4.2em;
  width: 368px;
  border-radius: 18px;
  -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 12px;
  border-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: black;
  background-color: white;
  position: relative;
  z-index: 0;
}

.menu-card:hover .menu-card-details {
  width: 235px;
}

.menu-card:hover .menu-card-price {
  margin-right: 85px;
}

.menu-card:hover::after {
  left: 300px;
}

.menu-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 370px;
  background-color: #98e2cf;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 1;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.menu-card:hover .menu-card__icone {
  top: 24px;
  right: 24px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu-card__icone {
  position: absolute;
  color: white;
  font-size: 22px;
  top: 24px;
  right: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.menu-card__recipe {
  margin-top: 15px;
  margin-left: 10px;
}

.menu-card__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-card-details {
  width: 280px;
  margin-bottom: 14px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.menu-card-price {
  margin-right: 22px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.fonctionnement__card {
  background-color: whitesmoke;
  width: 335px;
  height: 73px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.fonctionnement__card:hover {
  background-color: #f8e9ff;
}

.fonctionnement__card:hover .fonctionnement__card__icone {
  color: #9356dc;
}

.fonctionnement__card__icone {
  color: grey;
  font-size: 18px;
  margin-left: 20px;
}

.fonctionnement__card__detail {
  font-weight: 500;
  margin-left: 25px;
}

.fonctionnement__number {
  background: #9356dc;
  color: white;
  border-radius: 50%;
  font-size: 14px;
  height: 22px;
  width: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -8px;
}

.restaurants__card {
  position: relative;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: rgba(125, 125, 125, 0.24) 0px 5px 15px -2px;
          box-shadow: rgba(125, 125, 125, 0.24) 0px 5px 15px -2px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.restaurants__card__image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 245px;
  width: 350px;
  border-radius: 15px;
}

.restaurants__card__nouveau {
  background-color: #98e2cf;
  color: #139c78;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 82px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  -webkit-box-shadow: rgba(125, 125, 125, 0.24) 0px 5px 15px -2px;
          box-shadow: rgba(125, 125, 125, 0.24) 0px 5px 15px -2px;
  right: 13px;
  top: 15px;
}

.restaurants__card:hover {
  -webkit-box-shadow: rgba(125, 125, 125, 0.24) 0px 15px 15px -2px;
          box-shadow: rgba(125, 125, 125, 0.24) 0px 15px 15px -2px;
}

.restaurants__card__details {
  position: absolute;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
  width: 100%;
  height: 75px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}

.restaurants__card__details__text {
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
}

.restaurants__card__details__text__name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.restaurants__card__details__text__location {
  font-size: 17px;
  font-weight: 300;
}

.slide-in-first {
  -webkit-animation: slide-in-first 0.5s ease-in-out;
          animation: slide-in-first 0.5s ease-in-out;
}

.slide-in-second {
  -webkit-animation: slide-in-first 0.8s ease-in-out;
          animation: slide-in-first 0.8s ease-in-out;
}

.slide-in-third {
  -webkit-animation: slide-in-first 1.1s ease-in-out;
          animation: slide-in-first 1.1s ease-in-out;
}

.slide-in-fourth {
  -webkit-animation: slide-in-first 1.4s ease-in-out;
          animation: slide-in-first 1.4s ease-in-out;
}

/* heart checkboxes */
.restaurantmenu__presentation__title__like,
.restaurants__figcaption__like {
  position: relative;
  width: 2rem;
  margin: 0px 17px 30px 0px;
  cursor: pointer;
}

.restaurantmenu__presentation__title__like,
.restaurants__figcaption__like__menu {
  position: relative;
  width: 2rem;
  margin: 10px 30px 30px 0px;
  cursor: pointer;
}

.restaurants__figcaption__like__emptyheart {
  width: 1.4rem;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
  position: absolute;
}

.restaurants__figcaption__like__fullheart {
  width: 1.4rem;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
  position: absolute;
  opacity: 0;
}

.restaurants__figcaption__like__fullheart:hover {
  opacity: 1;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.header {
  text-align: center;
  position: relative;
}

.header__logo {
  height: 62px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 300;
  margin-bottom: 11px;
}

.footer {
  height: 195px;
  background-color: #2c2727;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 22px;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 17px;
  margin-top: 28px;
  margin-bottom: 21px;
}

.footer__flex {
  margin-bottom: 9px;
}

.footer__flex a {
  font-weight: 500;
}

.footer__flex i {
  margin-right: 7px;
}

.footer__flex .ustensils {
  font-size: 14px;
}

.footer__flex .handshake {
  font-size: 10px;
}

.header__location {
  height: 48px;
  background: #ededed;
  -webkit-box-shadow: inset 0px 9px 8px -11px rgba(0, 0, 0, 0.45);
          box-shadow: inset 0px 9px 8px -11px rgba(0, 0, 0, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__location__city-location {
  font-family: "Roboto", sans-serif;
  color: #3f3f3f;
  font-weight: 500;
}

.header__icone {
  color: #342b2b;
  font-size: 17px;
  position: absolute;
  top: 15px;
  left: 103px;
}

.sub-header {
  height: 278px;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.sub-header h2 {
  font-size: 23px;
  max-width: 230px;
  font-weight: 600;
  color: #2b2b2b;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 19px;
}

.sub-header p {
  font-size: 18px;
  max-width: 320px;
  font-weight: 300;
  color: #595959;
  margin: 0 auto;
  text-align: center;
}

.sub-header a {
  margin: 0 auto;
  margin-top: 30px;
}

.fonctionnement {
  font-family: "Roboto", sans-serif;
  margin-bottom: 69px;
}

.fonctionnement__title {
  font-size: 23px;
  font-weight: 600;
  margin-top: 45px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.fonctionnement__card {
  margin: 0 auto;
  margin-bottom: 20px;
}

.restaurants {
  background-color: #eeeeee;
  font-family: "Roboto", sans-serif;
  padding-bottom: 45px;
}

.restaurants__title {
  font-size: 23px;
  font-weight: 600;
  padding: 50px 0 25px 20px;
}

.restaurants__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants__card {
  margin-bottom: 18px;
}

header .header-menu i {
  position: absolute;
  top: 22px;
  left: 22px;
  font-size: 20px;
}

.menu-section {
  margin-bottom: 45px;
}

.image-menu {
  background-size: cover;
  background-position: center;
}

.image-menu img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 100%;
  z-index: auto;
}

.main {
  background-color: whitesmoke;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  z-index: 3;
  margin-top: -70px;
  position: relative;
}

.main__title {
  margin: 0 0 25px 20px;
}

.main__title::before {
  content: "";
  border-bottom: 3px solid #98e2cf;
  width: 41px;
  margin-top: 23px;
  position: absolute;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
}

.main__header h2 {
  margin-left: 20px;
  margin-top: 5px;
}

.menu-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commander {
  margin-bottom: 65px;
}
/*# sourceMappingURL=main.css.map */