


// HEADER

.header{
    &__location{
        height: 48px;
        background: $dark-grey;
        box-shadow: inset 0px 9px 8px -11px rgba(0,0,0,0.45);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        &__city-location{
            // text-align: center;
            // padding-top: 15px;
            font-family: $font-secondary;
            color: rgb(63, 63, 63);
            font-weight: $font-weight-normal;
            padding-right: 29px;
        }
    }

    &__icone{
        color: rgb(52, 43, 43);
        font-size: 17px;
        padding-right: 14px;
        // position:absolute;
        // top: 15px;
        // left: 103px;
    }
}



// SUB-HEADER
.sub-header{
    height: 278px;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    font-family: $font-secondary;
}
.sub-header h2{
    font-size: 23px;
    max-width: 230px;
    font-weight: $font-weight-large;
    color: rgb(43, 43, 43);
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 19px;
}
.sub-header p{
    font-size: 18px;
    max-width: 320px;
    font-weight: $font-weight-thin;
    color: rgb(89, 89, 89);
    margin: 0 auto;
    text-align: center;
}
.sub-header a{
    margin: 0 auto;
    margin-top: 30px;
}


// FONTIONNEMENT

.fonctionnement{
    font-family: $font-secondary;
    margin-bottom: 69px;
    background-color: white;
    
    &__title{
        font-size: $font-size-section-title;
        font-weight: $font-weight-section-title;
        padding-top: 45px;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    
    &__card{
        margin: 0 auto;
        margin-bottom: 20px;
    }
}



// RESTAURANTS

#restaurants{
    background-color: $light-grey;
    font-family: $font-secondary;
    padding-bottom: 45px;
}
.restaurants__title{
    font-size: $font-size-section-title;
    font-weight: $font-weight-section-title;
    padding: 50px 0 25px 20px;
}

.restaurants__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.restaurants__card{
    margin: 0 auto;
    margin-bottom: 18px;
}
