header{
    .header-menu i {
        position: absolute;
        top: 20px;
        left: 20px;
    }
}

.menu-section{
    margin-bottom: 45px;
}

.image-menu{
    
    background-size: cover;
    background-position: center;

}
.image-menu img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    z-index: auto;
}

.main{
    background-color: rgb(245, 245, 245);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    z-index: 3;
    margin-top: -70px;
    position: relative;

    &__title{
        margin: 0 0 25px 20px;
    }
    &__title::before{
        content: "";
        border-bottom: 3px solid $tertiary-color;
        width:41px;
        margin-top: 23px;
        position: absolute;
        
        
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 95px;
    }

    &__header h2{
        margin-left: 20px;
    }
}

.menu-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.commander{
    margin-bottom: 65px;
}


.slide-in-first{
    animation: slide-in-first 0.5s ease-in-out;
}
.slide-in-second{
    animation: slide-in-first 0.8s ease-in-out;
}
.slide-in-third{
    animation: slide-in-first 1.1s ease-in-out;
}
.slide-in-fourth{
    animation: slide-in-first 1.4s ease-in-out;
}
@keyframes slide-in-first{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;

    }
}


