// .entree{
//     width: 100%;
//     background: #f9f9f9;
// }



.menu-card{
    height: 4.2em;
    width: 368px;
    border-radius: 18px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    margin: 0 auto;
    margin-bottom: 12px;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    background-color: white;
    position: relative;
    z-index: 0;
   
    
    &:hover .menu-card-details{
        width: 235px;
    }
    &:hover .menu-card-price{
        margin-right: 85px;
    }
    &:hover::after{
        left: 300px;
    }

    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;  
        left: 370px;
        background-color: $tertiary-color;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        opacity: 1;
        z-index:-1;
        transition: all 0.4s ease-in-out;
    }
    &:hover &__icone{
        top: 24px;
        right: 24px;
        transform: rotate(360deg);
    }

    &__icone{
        position: absolute;
        color: white;
        font-size: 22px;
        top: 24px;
        right: 0px;
        transform: rotate(0deg);
        transition: all 0.4s ease-in-out;
    }
    

    &__recipe{
        margin-top: 15px;
        margin-left: 10px;
    }

    &__flex{
        display: flex;
        justify-content: space-between;
        
    }
}

.menu-card-details{
    width: 280px;
    margin-bottom: 14px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.4s ease-in-out;
    
}
.menu-card-price{
    margin-right: 22px;
    transition: all 0.4s ease-in-out;
}




// FONCTIONNEMENT CARD

.fonctionnement__card{
    background-color:$light-grey; //create variable for this grey color
    width: 335px;
    height: 73px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px -3px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    transition: all 0.4s ease-in-out;
    //go to _home.scss to set margin bottom

    &:hover{
        background-color: rgb(248, 233, 255);
    }
    &:hover &__icone{
        color: $primary-color;
    }

    &__icone{
        color: grey;
        font-size: 18px;
        margin-left: 20px;
    }

    &__detail{
        font-weight: 500;
        margin-left: 25px;
    }
    
}
.fonctionnement__number{
    background: $primary-color;
    color: white;
    border-radius: 50%;
    font-size: 14px;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -8px;
}





// Restaurants Card

.restaurants__card{
    position: relative;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(125, 125, 125, 0.24) 0px 5px 15px -2px;
    transition: all 400ms ease-in-out;
    
    
    &__image{
        object-fit: cover;
        height: 245px;
        width: 350px;
        border-radius: 15px;
    }

    &__nouveau{
        background-color: $tertiary-color;
        color: rgb(19, 156, 120);
        position: absolute;
        font-family: $font-secondary;
        font-size: 14px;
        font-weight: $font-weight-normal;
        width: 82px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        box-shadow: rgba(125, 125, 125, 0.24) 0px 5px 15px -2px;
        right: 13px;
        top: 15px;
    }


}
.restaurants__card:hover{
    box-shadow: rgba(125, 125, 125, 0.24) 0px 15px 15px -2px;
}


.restaurants__card__details{
    position: absolute;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    width: 100%;
    height: 75px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $darkest-color;


    &__text{
        font-family: $font-secondary;
        margin-left: 15px;

        &__name{
            font-size: 18px;
            font-weight: $font-weight-large;
            margin-bottom: 6px;
        }
        &__location{
            font-size: 17px;
            font-weight: $font-weight-thin;
        }
    }

    
}
