// @use '../abstracts';


.header__logo{
    font-family: $font-primary;
    font-size: $font-size-primary-header;
    color: rgb(0, 0, 0);
}

.menu-card{

    font-family: $font-secondary;

    &__recipe{
        font-size: $font-size-menu-card-title;
        font-weight: $font-weight-normal;
    }
}

.menu-card-details{
    font-size: $font-size-menu-card-details;
    font-weight: $font-weight-thin;
}
.menu-card-price{
    font-size: $font-size-price;
    font-weight: $font-weight-normal;
}

header{

    
    .header-menu i {
        font-size: $font-size-arrow;
        color: $light-black;
    }
}


//--LAYOUT/MENU
.main{

    &__title{
        font-family: $font-secondary;
        font-size: 17px;
        font-weight: 300;
    }

    &__header h2{
        font-family: $font-primary;
        font-size: $font-size-restaurant-title-menu;
    }

    &__header i{
        font-size: $font-size-menu-heart;
    }
}