$primary-color: rgb(147, 86, 220);
$secondary-color: rgb(255, 121, 218);
$tertiary-color: rgb(152, 226, 207);
$bg-color: rgb(245, 245, 245);
$darkest-color: black;
$light-grey: rgb(249, 249, 249);
$dark-grey: rgb(237, 237, 237);

$light-black: rgb(40, 40, 40);
