
$font-weight-thin: 300;
$font-weight-normal: 500;
$font-weight-large: 600;

// FONT FAMILY
$font-primary: 'Shrikhand', cursive;
$font-secondary: 'Roboto', sans-serif;


// 'Shrikhand'
$font-size-primary-header: 30px; 
$font-size-primary-footer: 12px; //footer

// 'Roboto'
// page d'accueil
$font-size-heading: 16px;
$font-size-sub-heading: 15px;

    $font-size-btn-gradient: 13px;
    $color-btn-gradient: white;
    


$font-size-section-title: 23px; //Fonctionnement-Restaurants
$font-weight-section-title: 600;

$font-size-restaurant-card-title: 14px;
$font-size-restaurant-card-details: 12px;

// menu
$font-size-menu-card-title: 18px;
$font-size-menu-card-details: 15px;
$font-size-price: 15px;

$font-size-arrow: 19px;

$font-size-restaurant-title-menu: 26px;

$font-size-menu-heart: 23px;

// footer

